/* Browser resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Color Palette */
  --rose-800: #7a284e;
  --rose-50: #fff7fb;
  --stone-900: #312e2c;
  --stone-600: #5f564d;
  --stone-150: #e3ddd7;
  --stone-100: #f3e5d7;
  --brown-800: #854632;
  --White: #ffffff;

  /* Spacing scale (base unit = 8px) */
  --spacing-1600: 128px;
  --spacing-600: 48px;
  --spacing-500: 40px;
  --spacing-400: 32px;
  --spacing-300: 24px;
  --spacing-200: 16px;
  --spacing-150: 12px;
  --spacing-100: 8px;
}

/* Typography presets */

.text-preset-1 {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0;
}

.text-preset-2 {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0;
}

.text-preset-3 {
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0;
}

.text-preset-4 {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0;
}

.text-preset-4-bold {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0;
}

body {
  background-color: var(--stone-100);
  margin: var(--spacing-1600) var(--spacing-600);
}

#card-wrapper {
  padding: var(--spacing-500);
  margin: 0 auto;
  border-radius: 24px;
  background-color: var(--White);
  max-width: 736px;
}

img {
  border-radius: 12px;
  height: 300px;
  width: 100%;
}

#title-heading {
  margin-bottom: var(--spacing-400);
}

h1 {
  color: var(--stone-900);
}

p,
caption {
  color: var(--stone-600);
}

#preparation-section {
  background-color: var(--rose-50);
  padding: var(--spacing-300);
  margin-bottom: var(--spacing-400);
}

#preparation-section > h3 {
  color: var(--rose-800);
  margin-bottom: var(--spacing-200);
}

ul {
  list-style: none;
  color: var(--stone-600);
  padding-left: var(--spacing-100);
}

ul li {
  position: relative;
  margin-bottom: var(--spacing-100);
  padding-left: var(--spacing-400);
}

ul li::before {
  content: "•";
  position: absolute;
  left: -1px;
  color: var(--rose-800);
  font-size: 20px;
}

h2 {
  color: var(--brown-800);
  margin-bottom: var(--spacing-300);
}

.section-divider {
  display: flow-root;
  margin: var(--spacing-400) 0;
  box-shadow: 0 0 0 0.6px var(--stone-150);
}

ol {
  color: var(--stone-600);
  padding-left: 24px;
}

ol li {
  margin-bottom: var(--spacing-100);
  padding-left: var(--spacing-200);
}

ol li::marker {
  /*.text-preset-4-bold properties */
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0;
}

#nutrition-table {
  width: 100%;
  border-collapse: collapse;
}

caption {
  text-align: left;
  margin-bottom: 24px;
}

#nutrition-table th {
  color: var(--stone-600);
  padding: 12px 0 12px 32px;
}

#nutrition-table td {
  color: var(--brown-800);
  padding: 12px 32px 12px 8px;
}

#nutrition-table th,
#nutrition-table td {
  width: 50%;
  text-align: left;
  border-bottom: 1px solid var(--stone-150);
}

#nutrition-table tr:last-child th,
#nutrition-table tr:last-child td {
  border-bottom: none;
}

@media (min-width: 375px) {
  body {
    margin: 0;
    background-color: var(--White);
  }

  #card-wrapper {
    display: contents;
  }

  img {
    height: auto;
    border-radius: 0;
  }

  h1.text-preset-1 {
    font-size: 36px;
  }

  h1 {
    padding: 40px 32px 24px 32px;
  }

  p {
    padding: 0 32px;
  }

  main {
    padding-bottom: 40px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (min-width: 768px) {
  body {
    margin: 128px 76px;
    background-color: var(--stone-100);
  }

  #card-wrapper {
    display: block;
  }

  img {
    border-radius: 12px;
  }

  h1.text-preset-1 {
    font-size: 40px;
  }

  h1 {
    padding: 40px 0 24px 0;
  }

  p {
    padding: 0;
  }

  main {
    padding: 0;
  }
}
