/* Browser resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Color Palette */
  --rose-800: #7a284e;
  --rose-50: #fff7fb;
  --stone-900: #312e2c;
  --stone-600: #5f564d;
  --stone-150: #e3ddd7;
  --stone-100: #f3e5d7;
  --brown-800: #854632;
  --White: #ffffff;

  /* Spacing scale (base unit = 8px) */
  --spacing-1600: 128px;
  --spacing-600: 48px;
  --spacing-500: 40px;
  --spacing-400: 32px;
  --spacing-300: 24px;
  --spacing-200: 16px;
  --spacing-150: 12px;
  --spacing-100: 8px;
}

/* Typography presets */

.text-preset-1 {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0;
}

.text-preset-2 {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0;
}

.text-preset-3 {
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0;
}

.text-preset-4 {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0;
}

.text-preset-4-bold {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0;
}

body {
  background-color: var(--stone-100);
  margin: var(--spacing-1600) var(--spacing-600);
}

#card-wrapper {
  padding: var(--spacing-500);
  margin: 0 auto;
  border-radius: 24px;
  background-color: var(--White);
  width: 736px;
}

img {
  border-radius: 12px;
  height: 300px;
  margin-bottom: var(--spacing-500);
}

#title-heading {
  margin-bottom: var(--spacing-400);
}

h1 {
  color: var(--stone-900);
  margin-bottom: var(--spacing-400);
}

#title-heading > p {
  color: var(--stone-600);
}
